#site_header {
    margin: 1rem 0;
    padding: 0.1rem;
  
    img {
      height: 80px;
    }
  
    a {
      text-decoration: none;
      padding: 2.5rem 0rem;
      font-size: 14px;
      font-weight: 700;
      color: $dark-gray;
      margin: 0 0.75rem;
  
      &:hover, &.active {
        color: rgb(0, 130, 249);
        border-bottom: $dc-primary;
      }
    }
  
    .col-8 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }